.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.name {
  margin-top: 20px;
}
.picName {
  text-align: left;
  width: 94%;
  height: 200px;
}
.picNameChild {
  text-align: center;
  width: 255px;
}
.display {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  background: rgb(54, 15, 0);
  background: rgb(255, 255, 255);
  height: 100%;
  width: 1000px;
  padding: 0 0 60px 0;

  text-align: center;
  background: linear-gradient(
    55deg,
    rgb(255, 205, 205) 25%,
    rgb(255, 242, 219) 25%,
    rgb(255, 242, 219) 50%,
    rgb(255, 205, 205) 50%,
    rgb(255, 205, 205) 75%,
    rgb(255, 242, 219) 75%,
    rgb(255, 242, 219) 100%,
    rgb(0, 61, 61) 100%
  );
}
img {
  height: 170px;
  border-radius: 50%;
  text-align: left;
  margin: -100px 0 0 0;
}
h4 {
  height: 40px;
  width: 3px;
}
#contect {
  height: 30px;
}

.info {
  display: flex;

  justify-content: space-around;
  align-items: center;
  text-align: center;

  border-radius: 20px;
  height: 100px;
  width: 90%;
  background: rgb(255, 93, 93);
  color: white;
  margin-top: 30px;
  padding-top: 14px;
}
h4 {
  background-color: white;
  width: 1px;
  height: 70px;
}
h3 {
  background-color: white;
  width: 170px;
  height: 1px;
  margin: 16px 0;
}
h2 {
  font-size: 16px;
}
a {
  font-size: 20px;
}
.hero {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  /* border: solid 1px white; */
}
form {
  margin: 0px -20px -20px 0;

  z-index: 1;
}

.inp {
  height: 40px;
  width: 300px;
  border: none;

  border-radius: 30px;
  font-size: 18px;
  background: rgb(54, 15, 0);
  color: white;
  padding-left: 20px;
  outline: none;
}
#btn {
  outline: none;
  font-size: 16px;
  border-radius: 30px;
  color: white;
  cursor: pointer;

  background: rgb(65, 0, 126);
  height: 40px;
  width: 70px;
  border: none;

  margin-left: 1px;
}
#repoTitle {
  margin: 30px 0;
}
#repoIcon {
  margin-top: 25px;
  font-size: 27px;
  color: rgb(255, 159, 32);
}
.repos {
  flex-wrap: wrap;
  text-align: center;
  width: 90%;
  background: rgb(0, 58, 82);
  border-radius: 20px;

  padding: 30px;
}
.repos div a {
  color: rgb(255, 159, 32);
  font-size: 20px;
}
li {
  color: rgb(255, 159, 32);
}
/* ------------------------ */
@media (max-width: 480px) {
  .display {
    height: 100%;
    width: 360px;
    padding: 0 0 30px 0;
  }
  img {
    height: 90px;
    text-align: left;
    margin: -60px 0 0 0;
  }

  .name {
    margin: 6px 0 0 6px;
    font-size: 12px;
    text-align: center;
    /* border: solid red 1px; */
  }

  h4 {
    height: 40px;
    width: 3px;
  }
  #contect {
    height: 30px;
  }

  .info {
    border-radius: 16px;
    height: 80px;
    width: 90%;

    /* border: solid red 1px; */
    display: flex;

    justify-content: space-around;
    align-items: center;
    text-align: center;

    padding-top: 0;
    margin-top: -8px;
  }
  h4 {
    width: 1px;
    height: 40px;
  }
  h3 {
    width: 40px;
    height: 1px;
    margin: 10px;
  }
  a {
    font-size: 20px;
  }
  .hero {
    width: 100%;
    margin-top: 20px;
  }
  form {
    margin: 0px -6px -10px 0;
  }

  .inp {
    height: 30px;
    width: 140px;

    border-radius: 30px;
    font-size: 12px;

    padding-left: 7px;
  }
  #btn {
    font-size: 12px;
    border-radius: 30px;

    height: 30px;
    width: 50px;

    margin-left: 1px;
  }
  .repos {
    text-align: center;
    width: 90%;

    border-radius: 20px;

    padding: 30px;
  }
  .repos div a {
    font-size: 14px;
  }
  #repoIcon {
    margin-top: 10px;
    font-size: 17px;
  }
  #a {
    font-size: 12px;
  }
  .picName {
    text-align: left;
    width: 94%;
    height: 85px;
  }
  .picNameChild {
    text-align: center;
    width: 93px;
    /* border: solid red 1px; */
  }
  h2 {
    font-size: 9px;
  }
  #repoTitle {
    font-size: 16px;
    margin: 10px 0;
  }
}
